* {
    padding: 0;
    margin: 0;
}

.resume {
    width: 80%;
    height: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(37, 37, 37);

}

.skillslist {
    list-style: none;
}

.skillslist li {
    margin-bottom: 10px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.toggle-button {
    background-color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: aquamarine;
}

.print {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;


}

.printbutton {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.printbutton:hover {
    background-color: aqua;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}